<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>have you got the right stuff?</title>

    <!-- mustache templates -->
    <script type="text/template" id="template-favorites">var favoriteTemplate = "{% include template-favorites.html %}"</script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="assets/css/mu.css" />
  </head>

  <body>
    {{ content }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="assets/js/vendor/jquery.mustache.js"></script>
    <script src="assets/js/mu.js"></script>
  </body>
</html>
